<div class="card mb-3 bg-primary-200 shadow-none">
    <div class="card-body">
        <h5>Filter Comment</h5>
        <comment-comment-filter (valueChange)="onCommentFilterValueChanged($event)"></comment-comment-filter>
    </div>
</div>
<ng-template let-post [ngTemplateOutletContext]="{ $implicit: post$ | async }" [ngTemplateOutlet]="postDetail" #postDetail>
    <div class="card">
        <div class="card-body pb-0">
            <div class="d-flex align-items-center ">
                <div class="d-flex align-items-center justify-content-center flex-grow-0 rounded-circle bg-primary-200" [style.width.px]="46" [style.height.px]="46">
                    <small class="text-uppercase font-weight-medium text-primary-600">{{ post?.user?.name.substring(0, 2) }}</small>
                </div>
                <div class="flex-grow-1 pl-2">
                    <p class="mb-0">{{ post?.user?.name }}</p>
                    <a href="javascript:;" class="text-muted">@{{ post?.user?.username }}</a>
                </div>
            </div>
        </div>
        <div class="card-body border-bottom">
            <h6 class="card-title text-capitalize font-weight-light">
                <a href="javascript:;" class="text-body">{{ post?.title }}</a>
            </h6>
            <p class="card-text">{{ post?.body }}</p>
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:;" class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path d="M4 18l2-2h14V4H4z" opacity=".3"/>
                            <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/>
                        </svg>
                        <span class="ml-1">{{ post?.comments?.length }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <comment-comment-list [comments]="post?.comments"></comment-comment-list>
        </div>
    </div>
</ng-template>
