<form novalidate [formGroup]="formFilter">
    <div class="row">
        <div class="col">
            <input type="search" class="form-control" placeholder="Filter by name" formControlName="name">
        </div>
        <div class="col">
            <input type="search" class="form-control" placeholder="Filter by email" formControlName="email">
        </div>
        <div class="col">
            <input type="search" class="form-control" placeholder="Filter by body" formControlName="body">
        </div>
    </div>
</form>
