<ul class="list-unstyled mb-0">
    <li class="media" [class.mt-3]="!first" *ngFor="let comment of comments; let first = first;">
        <div class="d-flex align-items-center justify-content-center flex-grow-0 rounded-circle bg-primary-200" [style.width.px]="32" [style.height.px]="32">
            <small class="text-uppercase font-weight-medium text-primary-600">{{ comment?.email.substring(0, 2) }}</small>
        </div>
        <div class="media-body pl-2">
            <p class="mb-0">
                <span class="font-weight-medium">{{ comment?.name }}</span>
                (<a href="javascript:;" class="mb-0">{{ comment?.email }}</a>)
            </p>
            <p class="mb-0">{{ comment?.body }}</p>
        </div>
    </li>
</ul>
