<div class="card-columns">
    <ng-container *ngFor="let post of posts$ | async">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center ">
                    <div class="d-flex align-items-center justify-content-center flex-grow-0 rounded-circle bg-primary-200" [style.width.px]="46" [style.height.px]="46">
                        <small class="text-uppercase font-weight-medium text-primary-600">{{ post.user.name.substring(0, 2) }}</small>
                    </div>
                    <div class="flex-grow-1 pl-2">
                        <p class="mb-0">{{ post.user.name }}</p>
                        <a href="javascript:;" class="text-muted">@{{ post.user.username }}</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title text-capitalize font-weight-light">
                    <a [routerLink]="['../', post.id]" class="text-body">{{ post.title }}</a>
                </h6>
                <p class="card-text">{{ post.body }}</p>
                <a [routerLink]="['../', post.id]">Read More...</a>
            </div>
        </div>
    </ng-container>
</div>
